<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

<title>
{{ if .IsHome }}
  {{ site.Title }}
{{ else }}
  {{ printf "%s | %s" .Title site.Title }}
{{ end }}
</title>

{{/*  Google font  */}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap" rel="stylesheet">


{{ $cssResource := resources.Get "scss/main.scss" }}
{{ if $cssResource }}
    {{ $styles := $cssResource | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
{{ else }}
    {{ errorf "CSS资源未找到: assets/css/main.scss" }}
{{ end }}

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
