// main {
//   // width: 100vw;
//   display: grid;
//   grid-template-rows: 1fr 1fr 1fr;
//   justify-items: center;
//   justify-content: center;
//   align-items: center;

//   .homepage-title {
//     height: 10vh;
//     font-family: "Shrikhand", serif;
//     font-weight: 400;
//     font-style: normal;
//     font-size: 2.5rem; 
//   }
// }

body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  header {
    height: 10vh;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    padding: 0 2rem;
    .title {
      font-family: "Shrikhand", serif;
      font-weight: 400;
      font-size: 1.75rem; 
    }

    .nav-menu{
      background-color: antiquewhite;
    }
  }
  main {
    height: 80vh;
    display: grid;
    place-items: center;
  }
  footer {
    height: 10vh;
    display: grid;
    place-items: center;
  }
}